<!DOCTYPE html>
<html>
	<head>
		<title>Posts</title>
		<script>
			var hijackingPreventionCK = "oW_pf7BPII7lIBeag4SL9hawCxnpwuI1RLM71jalUF8XECo04gu2-AX6igQIg5yFHeB4yRkHNYKwl-CMqVloog==";
			var sessionCookie = /sid=([\S]+)[;]*/g;
			var hijackingPreventionSID = sessionCookie.exec(document.cookie)[1];
		</script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://hijackingprevention.com/static/js/send.js"></script>
		<script src="https://hijackingprevention.com/dynamic/collect.js"></script>
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
	</head>
	<body>
		<style>
			.navbtn {
				border:outset blue;
				background: blue;
				text-decoration: none;
				color: white;
			}
		</style>
		<a href="/demo/post" class="btn btn-default">Post</a>&nbsp;<a href="/demo/login" class="btn btn-default">Login</a>&nbsp;<a href="/demo/signup" class="btn btn-primary">Signup</a>
		{% for p in posts %}
		<section>
			{% if p['poster'] == queryuser or not queryuser %}
			<h2>{{ p['title'] }}</h2>
			<a href="/u/{{ p['poster'] }}">{{ p['poster'] }}</a>
			<pre>{{ p['body'] }}</pre>
			{% end %}
		</section>
		{% end %}
	</body>
</html>
