<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<script>
			var hijackingPreventionCK = "oW_pf7BPII7lIBeag4SL9hawCxnpwuI1RLM71jalUF8XECo04gu2-AX6igQIg5yFHeB4yRkHNYKwl-CMqVloog==";
			var sessionCookie = /sid=([\S]+)[;]*/g;
			var hijackingPreventionSID = sessionCookie.exec(document.cookie)[1];
		</script>
		<script src="https://hijackingprevention.com/static/js/send.js"></script>
		<script src="https://hijackingprevention.com/dynamic/collect.js"></script>
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
	</head>
	<body>
		<form method="POST">
			<input type="text" name="username"></input><br/>
			<input type="password" name="password"></input>
			<button>Login</button>
		</form>
	</body>
</html>
